In [34]:
from sqlalchemy import create_engine
import pandas as pd
from datetime import datetime

In [20]:
db_string = "postgresql://referentiels:referentiels@localhost:5432/referentiels"

db = create_engine(db_string)

# Maires

In [74]:
url_maires = "https://www.data.gouv.fr/fr/datasets/r/2876a346-d50c-4911-934e-19ee07b0e503"

In [75]:
df = pd.read_csv(url_maires, sep="\t", skiprows=1,  encoding = "ISO-8859-1")

In [76]:
mapping = {
    'Code du département (Maire)':     'dept_code',
    'Libellé de département (Maires)':    'dept_label',
    'Code Insee de la commune':'insee_code',
    'Libellé de la commune':'city_label',
    "Nom de l'élu":'name',
    "Prénom de l'élu":'firstname',
    'Code sexe':'sexe',
    'Date de naissance':'birthdate',
    'Code profession':'work_code',
    'Libellé de la profession':'work_label',
    'Date de début du mandat':'start_mandat_at', 
    'Date de début de la fonction':'start_position_at',
}

In [77]:
df_renamed = df.rename(mapper=mapping, axis=1)

In [78]:
def parse_date(date_string):
    if isinstance(date_string, str):
        return datetime.strptime(date_string, "%d/%m/%Y")
    return date_string

In [79]:
df_renamed.start_mandat_at = df_renamed.start_mandat_at.apply(parse_date)
df_renamed.start_position_at = df_renamed.start_position_at.apply(parse_date)
df_renamed.birthdate = df_renamed.birthdate.apply(parse_date)

In [80]:
#df_renamed.to_sql("maires", con=db)

In [81]:
df_renamed["id"]=df_renamed["dept_code"]  + df_renamed["insee_code"].astype(str)

In [82]:
df_renamed.query("city_label == 'Chelles'")

,dept_code,dept_label,insee_code,city_label,name,firstname,sexe,birthdate,work_code,work_label,start_mandat_at,start_position_at,id
22506,60,OISE,145,Chelles,DEBLOIS,Christian,M,1949-11-14,74.0,Anciens cadres,2020-05-18,2020-05-28 00:00:00,60145
29969,77,SEINE ET MARNE,108,Chelles,RABASTE,Brice,M,1981-12-24,85.0,Personnes diverses sans activité professionnel...,2020-05-18,2020-05-23 00:00:00,77108

In [83]:
df_renamed["id"].duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
34884    False
34885    False
34886    False
34887    False
34888    False
Name: id, Length: 34889, dtype: bool

In [94]:
df_renamed.to_csv("maire.csv", index=False)

In [70]:
df_renamed.shape

(34889, 13)